body {
    margin: 0;
    padding: 0;
  }

.main-container{
    display: flex;
}

.image{
    display: flex;
    width: 30%;
    justify-content: flex-start;
    margin-right: 30p;
}

.page-text{
    display: flex;
    font-size: 24px;
    text-align: start;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #F2F3F5;
    font-family: "Roboto";
    font-weight: bold;
    padding-left: 20px;
    align-content: flex-start;
    justify-content: center;
    flex: 1;
    width: 120%;
}

.page-text2{
    margin-top: 20px;
}

.page-text3{
    background-color: white;
    font-family: "Roboto";
    font-weight: bold;
    padding-left: 20px;
    font-size: 24px;
    width: 120%;

}

.form-container{
    display: flex;
    width: 100%;
    font-size: 18px;
    margin-top: 100px;
    justify-content: flex-start;
}
.form-container2{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.main-container2{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-container label {
color: red;
  }

  .form-container input {
    padding: 5px;
    border-color: #E5E7EB;
  }

  .widget-container {
    margin: 20px;
    display: block;
    width: 60%;
}

.column2 {
    width: 40%;
}

.column1 {
    width: 40%;
}

.button{
    margin-top: 20px;
    background-color: #596D48;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.link{
    color: green;
}

.last-container{
    display: flex;
    background-color: #F2F3F5;
    width: 161.1%;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
    height: 200px;
    padding-left: 20px;
    position: relative;
    right: 20px;
}